{% extends "base.html" %}

{% block navbar %}
<div class="container">
  <form action="" method="post" enctype="multipart/form-data">
    <div class="container mt-5">
      <h1>Add Employee</h1>
      <div class="container">
        <form action="" class="mt-5" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="row">
            <a class="btn btn-primary col-6 mx-2" style="width: 10%;" href="{% url 'index' %}">Back</a>
            <input type="submit" class="btn btn-primary col-6 mx-2" style="width: 10%;" value="Add">
          </div>
        </form>
      </div>
    </div>
  </form>
  {%if messages%}
    {%for m in messages%}
      {%if m.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
      <div class="alert alert-danger   alert-dismissible fade show" role="alert">
        <strong>{{m}}</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {%endif%}
      {%if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
      <div class="alert alert-success  alert-dismissible fade show" role="alert">
        <strong>{{m}}</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {%endif%}
    {%endfor%}
  {%endif%}
</div>
{% endblock navbar %}