{% extends "base.html" %}

{% block navbar %}
<div class="container">
    <h1>Employee</h1>
    <div>
        {%if data.profile_pic%}
        <img src="{{data.profile_pic.url}}" class="img-thumbnail" alt="">
        {%endif%}
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item">{{data.name}}</li>
            <li class="list-group-item">{{data.department}}</li>
            <li class="list-group-item">{{data.salary}}</li>
            <li class="list-group-item">{{data.age}}</li>
            <li class="list-group-item">{{data.contact}}</li>
          </ul>
          </div>
    </div>
</div>
{% endblock  %}