{% extends "base.html" %}

{% block navbar %}
<div class="container">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="" method="post">
                {%csrf_token%}
                <div class="d-flex ">
                    <input type="text" class="form-control me-2" placeholder="Search" name="box">
                    <button type="submit" class="d-flex btn btn-success "> Search</button>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div class="container text-center">
    <h1 class="fw-bold fs-3 mt-5">Employee Details</h1>
    {%csrf_token%}
    <div>
        <h3>Filter by Department</h3>
        {%for dept in departments%}
        <a href="{%url 'emp-list'%}?department={{dept}}" class="btn btn-primary ">{{dept}}</a>
        {%endfor%}
    </div>
    <table class="table table-bordered">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Department</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Age</th>
                <th>Contact</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for data in datas %}
        <tr>
            <td>{{data.id}} </td>
            <td> {{data.name}} </td>
            <td> {{data.department}} </td>
            <td> {{data.salary}} </td>
            <td> {{data.email}} </td>
            <td> {{data.age}} </td>
            <td> {{data.contact}} </td>
            <td>
                <a href="{%url 'emp-delete' data.id%}" class="border-0 btn btn-dark"><i
                        class="fa-solid fa-trash"></i></a>

            </td>
            <td class="border-0 btn btn-dark">
                <a href="{%url 'emp-detail' data.id%}"><i class="fa-solid fa-upload"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock navbar %}

